{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ recipe.title }}</title>
    <script src="{% static 'js/recipe_scale.js' %}"></script>
    <style>
        #loading { display: none; color: green; font-weight: bold; }
        .random-recipes { display: flex; gap: 1rem; margin-top: 1rem; }
        .random-recipe { border: 1px solid #ccc; padding: 0.5rem; }
    </style>
</head>
<body>

<!-- HEADER -->
<header style="display:flex; justify-content:space-between; align-items:center;">
    <a href="{% url 'home' %}" style="text-decoration:none; font-weight:bold; font-size:30px;">🍳 Cook Book</a>

    <input
    type="text"
    id="live-search"
    placeholder="Search recipes or ingredients..."
    autocomplete="off">

    <ul id="search-results"></ul>


    <div>
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}</span> |
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a> |
            <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </div>
</header>
<hr>

    <h1>{{ recipe.title }}</h1>
    <p>{{ recipe.description }}</p>

    <!-- Servings input -->
    <label for="serves-input">Serves:</label>
    <input
        id="serves-input"
        type="number"
        min="1"
        value="{{ recipe.serves }}"
    />
    <span id="loading">Scaling...</span>

    <!-- Ingredients list -->
    <h2>Ingredients</h2>
    <ul id="ingredient-list">
        {% for ing in ingredients %}
            <li class="ingredient" data-ingredient="{{ ing.name }}">
                <span class="name">{{ ing.name }}</span> :
                <span class="qty">{{ ing.quantity }}</span>
                <span class="unit">{{ ing.unit }}</span>
            </li>
        {% endfor %}
    </ul>

    <!-- Steps -->
    <h2>Steps</h2>
    <ol>
        {% for step in steps %}
           <p> {{step.step_no}}.{{ step.instruction }}</p>
        {% endfor %}
    </ol>

    <!-- Random recipes -->
    <h2>Try other recipes</h2>
    <div class="random-recipes">
        {% for r in random_recipes %}
            <div class="random-recipe">
                <a href="{% url 'recipe_detail' r.id %}">{{ r.title }}</a>
            </div>
        {% endfor %}
    </div>

    <script src="{% static '/js/recipe_scale.js' %}"></script>

<script src="{% static '/js/searchBar.js' %}"></script>

</body>
</html>
